.row-center {
  text-align: center;
  height: 100vh;
  position: relative;
}

.row-center .col-center {
  text-align: left;
}

.row-center .col-center .login-layout {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  border-color: #00a3ff;
  border-width: 2px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.row-center .col-center .login-layout .login-title {
  text-align: center;
  color: #0c51a0;
  font-size: 24px;
}